<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.0-Beta2" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.0-Beta2" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
</packages>