[submodule "MailRuNetCloudClient"]
	path = MailRuNetCloudClient
	url = https://github.com/yar229/Mail.Ru-.net-cloud-client.git
[submodule "WebDAVSharpServer"]
	path = WebDAVSharpServer
	url = https://github.com/yar229/WebDAVSharp.Server.git
