[submodule "MailRuNetCloudClient"]
	path = MailRuNetCloudClient
	url = git@github.com:yar229/Mail.Ru-.net-cloud-client.git
[submodule "WebDAVSharpServer"]
	path = WebDAVSharpServer
	url = git@github.com:yar229/WebDAVSharp.Server.git
