<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>ReleaseBinaries</Configuration>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <PublishDir>bin\Publish\Linux</PublishDir>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <Platform>x64</Platform>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>