<?xml version="1.0" encoding="utf-8"?>
<config>
  <log4net>
    <!-- Define the logfile appender -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread]: %message%newline"/>
      </layout>
    </appender>


    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs\" />
      <datePattern value="'wdmrclog-'yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <!-- <appender-ref ref="RollingLogFileAppender"/>  -->
    </root>
  </log4net>

  <TwoFactorAuthHandlerName serializeAs="String">AuthCodeConsole</TwoFactorAuthHandlerName>
  
  
</config>