<?xml version="1.0" encoding="utf-8"?>
<config>
  <log4net>
    <!-- Define the logfile appender -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread]: %message%newline"/>
      </layout>
    </appender>


    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs\" />
      <datePattern value="'wdmrclog-'yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>      
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <!-- <appender-ref ref="RollingLogFileAppender"/>  -->
    </root>
  </log4net>

  <TwoFactorAuthHandler Name = "AuthCodeConsole">
  </TwoFactorAuthHandler>

  <AdditionalSpecialCommandPrefix serializeAs="String">.,.</AdditionalSpecialCommandPrefix>

  <!-- 
    Default video resolution for generated m3u playlists.
    Values: 
      0p      auto, m3u contains links to all availiable resolutions 
      240p    ~ 352 x 240
      360p    ~ 480 x 360
      480p    ~ 858 x 480
      720p    ~ 1280 x 720
      1080p   ~ 1920 x 1080
  -->
  <DefaultSharedVideoResolution serializeAs="String">0p</DefaultSharedVideoResolution>

   
  <WebDAVProps>
    <Prop name="{DAV:}displayname" enabled="true" />
    <Prop name="{DAV:}getetag" enabled="true" />
    <Prop name="{DAV:}isreadonly" enabled="true" />
    <Prop name="{DAV:}quota-available-bytes" enabled="true" />
    <Prop name="{DAV:}quota-used-bytes" enabled="true" />
    <Prop name="{DAV:}creationdate" enabled="true" />
    <Prop name="{DAV:}getlastmodified" enabled="true" />
    <Prop name="{DAV:}lastaccessed" enabled="true" />
    <Prop name="{DAV:}childcount" enabled="true" />
    <Prop name="{DAV:}isfolder" enabled="true" />
    <Prop name="{DAV:}ishidden" enabled="true" />
    <Prop name="{DAV:}isstructureddocument" enabled="true" />
    <Prop name="{DAV:}hassubs" enabled="true" />
    <Prop name="{DAV:}nosubs" enabled="true" />
    <Prop name="{DAV:}objectcount" enabled="true" />
    <Prop name="{DAV:}reserved" enabled="true" />
    <Prop name="{DAV:}visiblecount" enabled="true" />
    <Prop name="{DAV:}getcontentlength" enabled="true" />
    <Prop name="{DAV:}getcontenttype" enabled="true" />
    <Prop name="{DAV:}resourcetype" enabled="true" />
    <Prop name="{DAV:}lockdiscovery" enabled="true" />
    <Prop name="{DAV:}supportedlock" enabled="true" />

    <Prop name="{urn:schemas-microsoft-com:}Win32CreationTime" enabled="true" />
    <Prop name="{urn:schemas-microsoft-com:}Win32LastAccessTime" enabled="true" />
    <Prop name="{urn:schemas-microsoft-com:}Win32LastModifiedTime" enabled="true" />
    <Prop name="{urn:schemas-microsoft-com:}Win32FileAttributes" enabled="true" />

    <Prop name="{urn:schemas-yar-now-im:}SharedLink" enabled="false" />    
  </WebDAVProps>
  

  <!--<WebDAVProps>
    <Prop name="{DAV:}displayname" enabled="false" />
    <Prop name="{DAV:}getetag" enabled="false" />
    <Prop name="{DAV:}isreadonly" enabled="false" />
    <Prop name="{DAV:}quota-available-bytes" enabled="false" />
    <Prop name="{DAV:}quota-used-bytes" enabled="false" />
    <Prop name="{DAV:}creationdate" enabled="false" />
    <Prop name="{DAV:}getlastmodified" enabled="false" />
    <Prop name="{DAV:}lastaccessed" enabled="false" />
    <Prop name="{DAV:}childcount" enabled="false" />
    <Prop name="{DAV:}isfolder" enabled="false" />
    <Prop name="{DAV:}ishidden" enabled="false" />
    <Prop name="{DAV:}isstructureddocument" enabled="false" />
    <Prop name="{DAV:}hassubs" enabled="false" />
    <Prop name="{DAV:}nosubs" enabled="false" />
    <Prop name="{DAV:}objectcount" enabled="false" />
    <Prop name="{DAV:}reserved" enabled="false" />
    <Prop name="{DAV:}visiblecount" enabled="false" />
    <Prop name="{DAV:}getcontentlength" enabled="false" />
    <Prop name="{DAV:}getcontenttype" enabled="false" />
    <Prop name="{DAV:}resourcetype" enabled="true" />
    <Prop name="{DAV:}lockdiscovery" enabled="false" />
    <Prop name="{DAV:}supportedlock" enabled="false" />

    <Prop name="{urn:schemas-microsoft-com:}Win32CreationTime" enabled="false" />
    <Prop name="{urn:schemas-microsoft-com:}Win32LastAccessTime" enabled="false" />
    <Prop name="{urn:schemas-microsoft-com:}Win32LastModifiedTime" enabled="false" />
    <Prop name="{urn:schemas-microsoft-com:}Win32FileAttributes" enabled="false" />

    <Prop name="{DAV:}SharedLink" enabled="false" />    
  </WebDAVProps>-->


  <Deduplicate>
    <!-- Path for disk file cache -->
    <Disk Path = "d:\Temp\WDMRC_Cache" />

    <!--
      Cache: on disk or inmemory file caching
      Target: path with filename in cloud, .NET regular expression
      MinSize: minimum file size
      MaxSize: maximum file size
      -->
    <Rules>
      <!-- cache any path/file contains "EUREKA" in disk cache-->
      <Rule Cache="Disk" Target = "EUREKA" MinSize = "0" MaxSize = "0" />

      <!-- small files less than 15000000 bytes will be cached in memory -->
      <Rule Cache="Memory" Target = "" MinSize = "0" MaxSize = "15000000" />

      <!-- files larger than 15000000 bytes will be cached on disk -->
      <Rule Cache="Disk" Target = "" MinSize = "15000000" MaxSize = "0" />

      <!-- files not matched by any rule above will be uploaded directly -->
    </Rules>
  </Deduplicate>
  
</config>